<!DOCTYPE html>
<html lang="en">
<head> 
	<style> label {display: block; width: 200px; float: left;} </style>
   <title>Eregistration System</title>
</head>
<body>
   <h1>Choix du Sujet d'&eacutevaluation</h1>
   <label for="sujet1">Mati&egravere 1 :</label><input type="checkbox"/> Algorithmique 1<br>
   <label for="sujet2">Mati&egravere 2 :</label><input type="checkbox"/> Architecture des ordinateurs<br>
   <label for="sujet3">Mati&egravere 3 :</label><input type="checkbox"/> Base de donn&eacutees<br>
   <label for="sujet4">Mati&egravere 4 :</label><input type="checkbox"/> Syst&egraveme d'information<br>
	<label for="valider">           </label><input type="submit" value="Valider"/>
</body>
</html>
